<div class='mt-4'>
  <h2>Edit note</h2>
  <%= render 'form' %>
  <%= link_to 'Return to note', note_path(@note), class: 'btn btn-primary mb-2'%>
  <%= link_to 'Return to all notes', notes_path, class: 'btn btn-primary mb-2'%>
</div>