<div class='mt-4 container-fluid full text-center text-white'>
  <h1 class='p-4'>Welcome to travel note!</h1>
  <h3 class='mt-4 pt-4'>Sign up and save your memories</h3>
  <%= link_to 'Sign up', signup_path, class: 'btn btn-success'%>
  <%= link_to 'Login', login_path, class: 'btn btn-success'%>
</div>